h1{
    /* border: 4px solid turquoise; */
    margin-bottom: 50px;
     /* color: green  Third priroity or specificity */
}

a{
    /* display: block; - Convert INLINE to BLOCK  
                          and then we can give it hgt & width & mrgin*/
    border: 4px solid green;
    margin-right: 20px;
    margin-left: 20px ; 
    font-size: 27px;
}

 /* id = # = 2nd priority */
.my-head{
    color: blue;
}

/* class = . = 1st prirotiy */
#My-head{
    color: rgb(237, 11, 11);
    border: 4px solid turquoise;
}

p{
    font-size: 15px; 

/*  line-height: 40px;
    word-spacing: 10px;
    letter-spacing: 2px; */

    border: 4px solid red;
    padding: 10px;

    /* padding: 10px  11px 12px 13px 
                 top  rght botm left spaces - clockwise 
       margin:   50px 40px 30px 20px  */
}

.box1{
    border: 20px solid purple;
    width: 300px; 
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box; /*Propert given * changes made will be inside 300 width only & will npt change the border */
}

.box2{
    border: 20px solid rgb(10, 62, 5);
    width: 300px; 
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
}



/* PSUEDO CLASSES */

/* LINK VISITED HOVER ACTIVE :::: order fix dont change */

a:link{
    color: rgb(245, 51, 8);
}

a:visited{
    color: rgb(99, 10, 99);
}

a:hover{
    color: rgb(24, 238, 45);
}

a:active{
    color: black;
}

/* FOR INPUT FIELD  */

input:focus{
    padding:3px;
    outline: none;
    border: 3px solid rgb(234, 202, 23);
}





